@font-face {
    font-family: myFirstFont;
    src: url(public/October\ Crow.ttf);
}

html {
    overflow-x: hidden;
}

body {
    background-image: url("public/wp7775354-phasmophobia-wallpapers.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
}

/* Title Area Start*/

.title-area{
    margin-top: 10%;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the content horizontally */
}
#title {
    font-family: myFirstFont;
    font-size: 65px;
    letter-spacing: 5px;
    color: white;
    text-align: center;
    width: fit-content;
}

#title a {
    display: inline-block; /* Make the <a> behave like a block element */
    text-decoration: none;
    color: white;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

/* Title Area End*/
